/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

@import "flutie";
@import "bourbon";
@import "form";

// Emulate the blueprint grid, width 950px, 30px cols with 10px gutters
$gw-column: 30px; // Column Width
$gw-gutter: 10px;   // Gutter Width

body {
    background-color: #fffbeb;
    text-align: center; // hack for FF 3.x, IE, ...
}

@mixin centering {
    margin-left:auto;  // for centering container...
    margin-right:auto; // on surrounding canvans
    text-align: left; // fix side effect of centering hack for FF 3.x, IE, ...
}

.row {
    width: 950px;
    @include box($orient: horizontal, $pack: start, $align: center);
    @include centering;
}

.column {
    width: 950px;
    @include box($orient: vertical, $pack: start, $align: center);
    @include centering;
}

.spacer {
    height: 10px;
}

.title {
    @include linear-gradient(#ebffff, #b3d6d6);
    @include border-radius(5px);
    padding: 2px 5px;
    text-align: center;
}

.centered {
    text-align: center;
}

/* emulate  the blueprint grid, span-1 ... span-24 */
$i: 1;
@while $i < 25 {
  .span-#{$i} {
      width: grid-width(1 * $i);
      @if $i < 24 { margin-right: $gw-gutter; }
  }
  $i: $i + 1;
}

.last {
    margin-right: 0;
}
